# Crea un diccionario llamado planet con los datos propuestos
# Muestra el nombre del planeta y el número de lunas que tiene.
# Agrega la clave circunferencia con los datos proporcionados previamente
# Imprime el nombre del planeta con su circunferencia polar.

In [28]:
planet = {
    'name': 'Mars',
    'moons': 2
}

In [29]:
print(f'{planet["name"]} has {planet["moons"]} moons')

Mars has 2 moons

In [30]:
planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [31]:
print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752

# En este escenario, calcularás tanto el número total de lunas en el sistema solar como el número promedio de lunas que tiene un planeta.
# Planets and moons
# Añade el código para determinar el número de lunas.
# Agrega el código para contar el número de lunas.

In [32]:

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [33]:
moons = planet_moons.values()
planets = len(planet_moons.keys())

total_moons = 0
for moon in moons:
    total_moons = total_moons + moon
average = total_moons / planets
print(average)

17.833333333333332